<div class="product-tile col-md-4" style="background-image:url({{product.image}})">
  <div class="product-name col-xs-12">
    {{product.name}}
  </div>
  <div class="product-price">
    {{product.price}}
  </div>
</div>
