<div class="row">
  <div class="col-md-6 col-center">
    {{new-forms
      categories=model.categories
      subCategories=model.subCategories
      sales=model.sales
      brands=model.brands
      createProduct="createProduct"
      createCategory="createCategory"
      createSubCategory="createSubCategory"
      createSale="createSale"
      createBrand="createBrand"
    }}
  </div>
</div>
