<div class="container">
  <ul class="breadcrumb">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li class="active">{{model.name}}</li>
  </ul>
  {{#each model.subCategories as |subCategory|}}
    {{#each subCategory.products as |product|}}
        {{product-tile product=product}}
    {{/each}}
  {{/each}}
</div>
